/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DESKTOP FIRST */
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* MAIN */
main {
    width: 100%;
    height: calc( 100% - 100px);
    display: flex;
}

/* LEFT-NAV */
.left-nav {
    background-color: black;
    width: 250px; 
    overflow: hidden;
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
}
.left-nav span {
    font-size: 14px;
}
.padd{
    padding-left: 1rem;
}
.img-nav {
    width: 1.7rem;
}
.left-nav a img:not(.profile-img) {
    filter: invert(66%) sepia(0%) saturate(3709%) hue-rotate(109deg) brightness(94%) contrast(79%);
}
/* img-nav hover */
.left-nav a:hover img:not(.profile-img) {
    filter: invert(100%) sepia(35%) saturate(265%) hue-rotate(342deg) brightness(109%) contrast(106%);
}

.left-nav a {
    color: #959595;
}
/* hover color white */
.left-nav a:hover,.list-item-flex li:hover {
    color: white;
}
.vert-middle {
    vertical-align: middle;
}
/* logo */
.logo {
    width: 8.5rem;
    margin-bottom: 1.5rem;
}
.small-logo {
    display: none;
}
/* navigation */
.navigation-height{
    line-height: 2.3;
}
.border-green {
    border-left: 2px solid #adff2f;
}
.border-green span {
    color: white;
}

/* playlist */
.playlist-section {
    flex-grow: 1;
}
.left-nav h4 {
    color: white;
    margin: 1.5rem 0 0.5rem;
}
.playlist-height {
    overflow-y: auto;
    height: 70%;
}
.playlist-height li {
    line-height: 2.3;
}
.flex-plus {
    display: flex;
    align-items: center;
}
.flex-plus :nth-child(2) {
    font-size: 16px;
}
.plus-square {
    width: 30px;
    height: 30px;
    background-color: #959595;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.plus-square span {
    font-size: 2rem;
}
/* hover playlist */
.flex-plus:hover .plus-square {
    background-color: white;
}
/* download */
.img-download {
    width: 1rem;
}
/* separation-line */
.separation-line {
    border: 1px solid #959595;
    background-color: #959595;
    width: 80%;
    margin: 0.5rem 0;
}
/* profile */
.profile-img {
    width: 22px;
    background-color: #959595;
    border-radius: 50%;
}
.profile-white {
    color: white;
    font-weight: bold;
}

/* MAIN-CONTENT */
.main-content {
    background-color: #141922;
    width: calc( 100% - 250px );
    overflow-y: auto;
    padding-top: 100px;
}
.padd-columns {
    padding:  0 1.3rem;
}
.padd-columns:nth-child(2) {
    margin-bottom: 2.5rem;
}
.padd-columns:last-child {
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}
.padd-columns h2 {
    color: white;
    font-size: 26px;
}
.padd-columns h3 {
    color: white;
    font-size: 16px;
    padding: 0.7rem 0 0.4rem;
}
/* list-item of main-content */
.list-item-flex {
    display: flex;
    justify-content: center;
}
.list-item-flex li {
    padding: 0 10px;
    font-size: 14px;
    color: #959595;
    font-weight: bold;
    margin-bottom: 2rem;
}
/* Common main-content */
.columns {
    display: flex;
    padding-top: 1.8rem;
}
.col {
    width: calc( (100% / 6) - 1rem );
    margin-right: 1rem;
}
/* img-card */
.img-card {
    position: relative;
}
.circle-play {
    color: white;
    font-size: 3.3rem;
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    display: none;
}
/* hover circle-play */
.card:hover .circle-play{
    display: block;
}
/* hover img-card img */
.card:hover .img-card img {
    filter: opacity(0.5);
}
/* text-card */
.text-card {
    text-align: center;
}
.text-card div {
    color: #959595;
    font-size: 13px;
    padding-bottom: 10px;
}
/* recently played */
.border-bt-green {
    border-bottom: 2px solid #a5f32d;
    margin: 0 25px;
    padding-top: 2px;
}
/* created-for and popular artists*/
.margin-text {
    margin-top: 0.4rem;
    color: #959595;
    font-size: 13px;
}
.radius-50 {
    border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: lightgreen;
    width: 100%;
    height: 100px;
}

/* UPGRADE-BANNER */
.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 13px;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 250px );
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade-banner a {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 10px 38px;
    border-radius: 20px;
    margin: 0 25px;
}
/* hover upgrader-banner */
.upgrade-banner a:hover {
    transform: scale(1.2);
}
/* spotify md */
@media screen and (max-width: 1100px) {
    /* list-item */
    .small-container {
        max-width: 600px;
        margin: 0 auto;
    }
    .list-item-flex {
        flex-wrap: wrap;
    }
    /* columns */
    .columns {
        flex-wrap: wrap;
    }
    .col {
        width: calc( (100% / 4) - 1rem );
    }
}
/* spotify s */
@media screen and (max-width: 700px) {
    /* list-item */
    .small-container {
        max-width: 400px;
        margin: 0 auto;
    }
    /* columns */
    .col {
        width: calc( (100% / 2) - 1rem );
    }
}
/* spotify xs*/
@media screen and (max-width: 600px) {
    /* LEFT-NAV */
    .left-nav {
        width: 50px;
        justify-content: space-between;
        padding: 0.2rem 0 0.5rem;
    }
    .desktop-label {
        display: none;
    }
    .flex-600 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .padd {
        padding: 0;
    }
    /* navigation */
    .big-logo {
        display: none;
    }
    .small-logo {
        display: block;
        width: 2rem;
        padding-bottom: 10px;
    }
    .border-green {
        border: 0;
    }
    /* profile */
    .profile-img {
        margin-top: 1rem;
    }
    
    /* MAIN-CONTENT */
    .main-content {
        width: calc( 100% - 50px );
    }
    /* list-item */
    .small-container {
        max-width: 500px;
        margin: 0 auto;
    }

    /* UPGRADE-BANNER */
    .upgrade-banner {
        width: calc( 100% - 50px );
    }
}
