/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DESKTOP FIRST */
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    background-color: pink;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
}
/* MAIN */
main {
    background-color: lightblue;
    width: 100%;
    height: calc( 100% - 100px);
    display: flex;
}
/* LEFT-NAV */
.left-nav {
    background-color: black;
    width: 250px; 
    overflow: hidden;
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
}
.left-nav span {
    font-size: 14px;
}
.padd{
    padding-left: 1rem;
}
.img-nav {
    width: 1.7rem;
}
.left-nav a img:not(.profile-img) {
    filter: invert(66%) sepia(0%) saturate(3709%) hue-rotate(109deg) brightness(94%) contrast(79%);
}
/* img-nav hover */
.left-nav a:hover img:not(.profile-img) {
    filter: invert(100%) sepia(35%) saturate(265%) hue-rotate(342deg) brightness(109%) contrast(106%);
}

.left-nav a {
    color: #959595;
}
/* hover left-nav a */
.left-nav a:hover {
    color: white;
}
.vert-middle {
    vertical-align: middle;
}
/* logo */
.logo {
    width: 8.5rem;
    margin-bottom: 1.5rem;
}
.small-logo {
    display: none;
}
/* navigation */
.navigation-height{
    line-height: 2.3;
}
.border-green {
    border-left: 2px solid #adff2f;
}
.border-green span {
    color: white;
}

/* playlist */
.playlist-section {
    flex-grow: 1;
}
.left-nav h4 {
    color: white;
    margin: 1.5rem 0 0.5rem;
}
.playlist-height {
    overflow-y: auto;
    height: 70%;
}
.playlist-height li {
    line-height: 2.3;
}
.flex-plus {
    display: flex;
    align-items: center;
}
.flex-plus :nth-child(2) {
    font-size: 16px;
}
.plus-square {
    width: 30px;
    height: 30px;
    background-color: #959595;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.plus-square span {
    font-size: 2rem;
}
/* hover playlist */
.flex-plus:hover .plus-square {
    background-color: white;
}
/* download */
.img-download {
    width: 1rem;
}
/* separation-line */
.separation-line {
    border: 1px solid #959595;
    background-color: #959595;
    width: 80%;
    margin: 0.5rem 0;
}
/* profile */
.profile-img {
    width: 22px;
    background-color: #959595;
    border-radius: 50%;
}
.profile-white {
    color: white;
    font-weight: bold;
}

/* MAIN-CONTENT */
.main-content {
    background-color: lightsalmon;
    width: calc( 100% - 250px );
    overflow-y: auto;
}

/* FOOTER */
footer {
    background-color: lightgreen;
    width: 100%;
    height: 100px;
}

/* UPGRADE-BANNER */
.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 250px );
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade-banner a {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 7px 15px;
    border-radius: 20px;
    margin: 0 25px;
}

/* spotify xs*/
@media screen and (max-width: 600px) {
    /* LEFT-NAV */
    .left-nav {
        width: 50px;
        justify-content: space-between;
        padding: 0.2rem 0 0.5rem;
    }
    .desktop-label {
        display: none;
    }
    .flex-600 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .padd {
        padding: 0;
    }
    /* navigation */
    .big-logo {
        display: none;
    }
    .small-logo {
        display: block;
        width: 2rem;
        padding-bottom: 10px;
    }
    .border-green {
        border: 0;
    }
    /* profile */
    .profile-img {
        margin-top: 1rem;
    }
    
    /* MAIN-CONTENT */
    .main-content {
        width: calc( 100% - 50px );
    }

    /* UPGRADE-BANNER */
    .upgrade-banner {
        width: calc( 100% - 50px );
    }
}
